AWS_PROFILE=kos-project-foundry-dev
AWS_REGION=sa-east-1
EVIDENCE_API_URL=https://brgkao1ln5.execute-api.sa-east-1.amazonaws.com
FOUNDRY_API_URL=https://skw8xgkyie.execute-api.sa-east-1.amazonaws.com
